@"
DATABASE_URL=sqlite:///./local.db
SECRET_KEY=pon-aqui-una-clave-larga-de-32-caracteres-o-mas

# local = guarda archivos en la carpeta media/ | s3 = sube a los buckets
STORAGE_BACKEND=local
PUBLIC_BASE_URL=http://127.0.0.1:8000

AWS_REGION=us-east-1
S3_VIDEOS_BUCKET=pacheco-videoapp-videos1
S3_THUMBNAILS_BUCKET=pacheco-videoapp-thumbnails
"@ | Set-Content backend\.env.example